{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/all.css' %}">
    <title>All Customers</title>
</head>
<body>
    <p>All Customers</p>

    <table>
        <thead>
            <th>Name</th>
            <th>View Details</th>
        </thead>
        <tbody>
            {% for customer in customers %}
            <tr>
                <td>{{customer.name}}</td>
                <td>
                    <a href="{% url 'customer' customer.id %}">View</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
</body>
</html>